#row {
    background-color: white;
    width: 100%;
}

#apply {
    background-color: #0036D2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

#advisor {

    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #0036D2;
}
