:root {
    --foundation-blue: #0036D2;
    --white: #faf0e6;
    --black:#0000;
    --foundation-blue-darker:#00134A;
    --foundation-green-normal: #8FE669;
    --light-orange:#FAAF40;


  }
#container {
    padding-top: 150px;
}



#title {
    color: var(--foundation-blue-normal);
    font-size: 96px;
    font-family: Oswald;
    line-height: 97.9%;
    text-transform: uppercase;

}

.role {
    color: var(--black);
    font-size: 26px;
    font-family: Montserrat;

}

.benefit {
    align-items: center;
}

.benefits {
    color: var(--foundation-blue-darker);
    font-size: 19px;
    font-family: Montserrat;
    line-height: 170.4%;
    padding-left: 21px;
}



.deadline {
    color: var(--black);
    font-size: 20px;
    font-family: Montserrat;
    line-height: 170.4%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#dead1 {
    background-color: #FAAF40;
}

#dead2 {
    background: var(--foundation-green-normal, #8FE669);
}




.hours {
    width: 60px;
    height: 50px;
    flex-basis: 26.7%;
    color: var(--foundation-blue-darker);
}

.minutes {
    width: 60px;
    height: 50px;
    flex-basis: 26.7%;
    color: var(--foundation-blue-darker);


}

.seconds {
    width: 60px;
    height: 50px;
    flex-basis: 26.7%;
    color: var(--foundation-blue-darker);
}

