 <div class="container " id="container">
    <div class="row">
      <div class="col-sm-6 col-lg-7 col-md-6">
        <div class="display-1 text-uppercase" id="title">
            ui/ux design bootcamp
        </div>
        <div class="role my-4">
            Become a UI/UX designer. Land a job or your money back.
        </div>
        <div >
            <i><img src="../assets/ph_money.svg" alt="icon"></i> <span class="benefits">Affordable |
                budget-friendly</span>
            <br>
            <i><img src="../assets/class.svg" alt="icon"></i> <span class="benefits">Beginner-friendly |
                project-based training</span>
            <br>
            <i><img src="../assets/support.svg" alt="icon"></i> <span class="benefits">24/7 support |
                reach us anytime</span>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div>
                    <span class="btn btn-outline-sucess my-4 text-uppercase" id="dead1">Deadline Date</span> 24th of april 2023
                </div>
                <div>
                    <span class="btn btn-outline-sucess text-uppercase " id="dead2">Start Date</span> 1st of May 2023
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4 mt-lg-5 border-start border-primary">
                <div class="mt-3 d-flex justify-content-center align-items-center column-gap-2 d-md-inline-flex">
                    <span class="hours border border-warning rounded-3 d-flex justify-content-center align-items-center">{{ hours | number: '2.0' }}</span>:
                    <span class="minutes border border-warning rounded-3 d-flex justify-content-center align-items-center">{{ minutes | number: '2.0' }}</span>:
                    <span class="seconds border border-warning rounded-3 d-flex justify-content-center align-items-center">{{ seconds | number: '2.0' }}</span>
                  </div>
            </div>
          </div>
        


      </div>
      <div class="col-sm-6 col-lg-5 col-md-6">col-sm-4</div>
    </div>
  </div>