<div class="container-fluid" id="container">
    <div class="row mb-3">
        <div class="col-lg-8 col-sm-6 themed-grid-col">
            <div class="title" id="title">
                ui/ux design bootcamp
            </div>
            <div class="role">
                Become a UI/UX designer. Land a job or your money back.
            </div>
            <div class="benefit">
                <i><img src="../assets/ph_money.svg" alt="icon" id="icon"></i> <span class="benefits">Affordable |
                    budget-friendly</span>
                <br>
                <i><img src="../assets/class.svg" alt="icon" id="icon"></i> <span class="benefits">Beginner-friendly |
                    project-based training</span>
                <br>
                <i><img src="../assets/support.svg" alt="icon" id="icon"></i> <span class="benefits">24/7 support |
                    reach us anytime</span>

            </div>
            <div class="row" id="timeclass">
                <div class="col-lg-4 themed-grid-col">
                    <div class="deadline">
                        <div>
                            <button class="btn btn-outline-sucess" id="dead1">Deadline Date</button> 24th of april 2023
                        </div>
                        <div>
                            <button class="btn btn-outline-sucess" id="dead2">Start Date</button> 1st of May 2023
                        </div>

                    </div>
                </div>
                <div class="col-md-4 themed-grid-col border-start border-primary" id="timer">
                    <div class="countdown" id="countdown">
                        <span class="hours border border-warning rounded-3">{{ hours | number: '2.0' }}</span>:
                        <span class="minutes border border-warning rounded-3">{{ minutes | number: '2.0' }}</span>:
                        <span class="seconds border border-warning rounded-3">{{ seconds | number: '2.0' }}</span>
                      </div>
                    

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 themed-grid-col" id="picture">
            <div class="container">
                pic </div>
        </div>
    </div>
</div>


