#container {
    padding-top: 150px;
    background-color: white;
}



#title {
    color: var(--foundation-blue-normal, #0036D2);
    font-size: 96px;
    font-family: Oswald;
    font-weight: 700;
    line-height: 97.9%;
    text-transform: uppercase;

}

.role {
    color: #000;
    font-size: 26px;
    font-family: Montserrat;

}

.benefit {
    align-items: center;
}

#cash {
    color: #FAAF40;
    width: 26px;
    height: 26px;
}

.benefits {
    color: var(--foundation-blue-darker, #00134A);
    font-size: 19px;
    font-family: Montserrat;
    line-height: 170.4%;
    padding-left: 21px;


}



.deadline {
    align-items: flex-start;
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    line-height: 170.4%;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#dead1 {
    background-color: #FAAF40;
}

#dead2 {
    background: var(--foundation-green-normal, #8FE669);
}



#timer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 190px;
    font-size: 20px;
    gap: 5%;
}

.hours {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    flex-basis: 33%;
    color: #00134A;
}

.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    flex-basis: 33%;
    color: #00134A;


}

.seconds {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    flex-basis: 33%;
    color: #00134A;
}

#countdown {
    display: flex;
    align-items: center;
    gap: 17px;
}